[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "public"]
	path = public
	url = https://github.com/tuandat1811/tuandat1811.github.io.git
	branch = main
